/* влпстивість для всієї сторінки
*{
    color: red;
}
*/

span{
    color: rebeccapurple;
}
a{
    color: red;
}
ul{
    color: wheat;
}
/*запит до усіх однакових тегів  span a ul на сторінц*/

.text{
    color: aqua;
}
/*запит до усіх однакових класів сторінц*/

#text1{
    color: chocolate;
}
/*запит по id. На id не діє нічого, поки ми не вкажем.*/

div.div-p{
    color: blueviolet;
}
/*для div з класом div-p усіх*/

.leson,
.chek {
    color: yellow;
}
/*Звертаємось відразу до об'єктів з класом leson та до об'єктів з класом chek*/

.kasskadnist1 p{
    color: blue;
}
/*Усі теги P в середені об'єктів з класом kasskadnist рівень вкладеності значення немає*/

.kasskadnist1 .vklad{
    color: crimson;
}
/*Усі об'єкти з класом vklad в середені  об'єктів з класом kasskadnist1 */

.first-level{
    color: cyan;
}

.second-level > p{
    color: brown;
}
/* Усі теги P першого рівня (безпосередні)  в середені об'єктів з класом second-level */

/* Селектори атрибутів */
[class*="__container"]
{
    color: green;
}
/* звертаємось до будь якого атрибуту, всередині якого є класс, і в будь якому классі присутня спільна частинка, в нашому впадку __container*/

/* -------- ПРІОРИТЕТ СЕЛЕКТОРІВ ------------ */
/*
Основні правила формування пріоритетів: 
1) У випадку рівнозначних селекторів більший 
пріоритет буде у останього (нижчого) по коду.
2) Більший пріоритет завжди буде у селектора,
який звужує (уточює, конкретизує) пошук (запит).
3) Пріоритет у рядкових (inline) стилів 
(атрибут style="") вищий ніж у стилів 
з окремого файлу (наприклад style.css)
4) Флаг !important перезаписує пріоритет 
(не рекомендується)
*/

/*перший випадок
.prioritet{
    color: blue;
}
.prioritet{
    color: yellowgreen;
}
*/

/* другий випадок. селектор, котрий звужує пошук, має кращу озаку буде мати приірітет
найвищий пріорітет у айді*/
.ptioritet p{
    color: red;
}

.ptioritet{
    color: chartreuse;
}

/*третій випадок
атрибут style="" має пріорітетність більшу, ніж айді і більше, ніж стилі з окремого файлу*/

/* всі стилі перебиває !important*/


